@use "@angular/material" as mat;
@include mat.core();
/* Light Theme */
:root,
:host {
  @include mat.theme-overrides(
    (
      primary: #006a6a,
      on-primary: #ffffff,
      primary-container: #50f9f9,
      on-primary-container: #002020,
      inverse-primary: #18dcdc,
      primary-fixed: #50f9f9,
      primary-fixed-dim: #18dcdc,
      on-primary-fixed: #002020,
      on-primary-fixed-variant: #004f50,
      secondary: #316767,
      on-secondary: #ffffff,
      secondary-container: #b6edec,
      on-secondary-container: #002020,
      secondary-fixed: #b6edec,
      secondary-fixed-dim: #9ad0d0,
      on-secondary-fixed: #002020,
      on-secondary-fixed-variant: #144e4f,
      tertiary: #5b5b7f,
      on-tertiary: #ffffff,
      tertiary-container: #e1dfff,
      on-tertiary-container: #171838,
      tertiary-fixed: #e1dfff,
      tertiary-fixed-dim: #c4c3ed,
      on-tertiary-fixed: #171838,
      on-tertiary-fixed-variant: #434366,
      background: #fcf9f8,
      on-background: #1b1c1b,
      surface: #fcf9f8,
      surface-dim: #dcd9d9,
      surface-bright: #fcf9f8,
      surface-container-lowest: #ffffff,
      surface-container-low: #f6f3f2,
      surface-container: #f0edec,
      surface-container-high: #eae7e7,
      surface-container-highest: #e5e2e1,
      on-surface: #1b1c1b,
      shadow: #000000,
      scrim: #000000,
      surface-tint: #58605f,
      inverse-surface: #303030,
      inverse-on-surface: #f3f0ef,
      outline: #737877,
      outline-variant: #c2c7c7,
      neutral: #787776,
      neutral10: #1b1c1b,
      error: #ba1a1a,
      error-container: #ffdad6,
      on-error: #ffffff,
      on-error-container: #410002,
      surface-variant: #dee3e2,
      on-surface-variant: #424847,
      neutral-variant: #737877,
      neutral-variant20: #2c3131,
      inverse-secondary: #9ad0d0,
      inverse-tertiary: #c4c3ed,
    )
  );
}

/* Dark Theme */
.dark {
  @include mat.theme-overrides(
    (
      primary: #18dcdc,
      on-primary: #003737,
      primary-container: #004f50,
      on-primary-container: #50f9f9,
      inverse-primary: #006a6a,
      primary-fixed: #50f9f9,
      primary-fixed-dim: #18dcdc,
      on-primary-fixed: #002020,
      on-primary-fixed-variant: #004f50,
      secondary: #9ad0d0,
      on-secondary: #003737,
      secondary-container: #144e4f,
      on-secondary-container: #b6edec,
      secondary-fixed: #b6edec,
      secondary-fixed-dim: #9ad0d0,
      on-secondary-fixed: #002020,
      on-secondary-fixed-variant: #144e4f,
      tertiary: #c4c3ed,
      on-tertiary: #2d2d4f,
      tertiary-container: #434366,
      on-tertiary-container: #e1dfff,
      tertiary-fixed: #e1dfff,
      tertiary-fixed-dim: #c4c3ed,
      on-tertiary-fixed: #171838,
      on-tertiary-fixed-variant: #434366,
      background: #131313,
      on-background: #e5e2e1,
      surface: #131313,
      surface-dim: #131313,
      surface-bright: #393939,
      surface-container-lowest: #0e0e0e,
      surface-container-low: #1b1c1b,
      surface-container: #20201f,
      surface-container-high: #2a2a2a,
      surface-container-highest: #353534,
      on-surface: #e5e2e1,
      shadow: #000000,
      scrim: #000000,
      surface-tint: #c0c8c7,
      inverse-surface: #e5e2e1,
      inverse-on-surface: #303030,
      outline: #8d9291,
      outline-variant: #424847,
      neutral: #787776,
      neutral10: #1b1c1b,
      error: #ffb4ab,
      error-container: #93000a,
      on-error: #690005,
      on-error-container: #ffdad6,
      surface-variant: #424847,
      on-surface-variant: #c2c7c7,
      neutral-variant: #737877,
      neutral-variant20: #2c3131,
      inverse-secondary: #316767,
      inverse-tertiary: #5b5b7f,
    )
  );
}
