<section class="dog">
  <features-dog-filters
    [dogs]="breed"
    [subBreeds]="subBreeds"
    (selectedBreed)="onSelectedBreed($event)"
    (selectedSubBreed)="onSelectedSubBreed($event)"
    (generateRandomDogs)="onGenerateRandomDogs($event)"
  ></features-dog-filters>
  @if (isLoading$ | async) {
  <div class="dog__spinner">
    <mat-hint>Fetching Dogs</mat-hint>
    <mat-spinner></mat-spinner>
  </div>
  }
  <features-dog-preview
    [dogs]="dogs"
    [selectedBreed]="selectedBreed"
    [selectedSubBreed]="selectedSubBreed"
  ></features-dog-preview>
</section>
